.flex {
    display: flex;
}

.row {
    flex-direction: row;
}
  
.column {
    flex-direction: column;
}
  
.full-width {
    width: 100%;
}
  
.full-height {
    height: 100%;
}
  
.wrap {
flex-wrap: wrap;
  }
  
.rounded {
    border-radius: 100px;
}
  
.bold {
    font-weight: bold;
}

.center {
    align-items: center;
    justify-content: center;
}

/* Buttons */
.filled-btn {
    background-color: #692C71;
    color: white;
    height: 45px;
    padding: 0 25px;
    border-radius: 100px;
    font-weight: bold;
    transition: all 0.3s;
}
  
.filled-btn:hover {
    opacity: 0.7;
}

.text-btn {
    background-color: transparent;
    height: 45px;
    color: #692C71;
    padding: 0 25px;
    font-weight: bold;
    transition: all 0.3s;
}

.text-btn:hover {
    opacity: 0.7;
}

.radius_15{
    border-radius: 15px;
}

.section_margin{
    margin-top: 40px ;
}
.section_h_margin{
    margin-bottom: 40px ;
}