.hero-section{
    margin-top: 92px;
    height: 85vh;
    gap: 30px;
    background-image: url('../imgs/hero-bk.gif');
    background-size: cover; 
    background-position: center;
}

.hero-section h1 {
    font-family: "QB-one";
    font-weight: bold;
    font-size: 70px;
    text-align: center;
    line-height: 76px;
}