.hero-section{
    margin-top: 95px;
    height: 85vh;
    gap: 5px;
    background-image: url('../imgs/hero-bk.gif');
    background-size: cover; 
    background-position: center;
}

.hero-section h1 {
    font-family: "QB-one";
    font-weight: bold;
    font-size: 74px;
    text-align: center;
    line-height: 70px;
}

.hero-img {
    width: 200px; 
    height: auto;
    margin-bottom: 20px;
}